.registration {
    max-width: 1000px;
    margin: 0 auto;
    /* background-color: #eee; */
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.registration__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.registration__input, .registration__submit {
    margin: 10px 0;
}

.registration__input {
    width: 240px;
}

.registration__submit {
    width: 120px;
    align-self: center;
}