<div class="hero">
    <div class="hero__content">
        <h1 class="hero__heading">Lorem ipsum</h1>
        <p class="hero__desc">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi iure libero assumenda, autem nesciunt corporis inventore blanditiis accusamus iusto labore temporibus sequi,
            dicta reiciendis amet! Culpa illum repellendus illo saepe amet earum voluptatum, vel recusandae ab sequi quae!
            Porro obcaecati quos modi ipsa et nulla, molestias illo voluptas magni laudantium sunt quo doloribus consequatur illum blanditiis consequuntur corporis
            tempora veritatis quibusdam voluptates!
            Quidem, deleniti facere. Voluptate praesentium nulla consequatur at, beatae similique labore aut iure. Tenetur nostrum deserunt placeat harum!
        </p>
    </div>
</div>

<section class="landing__section">
    <h1 class="landing__heading">O nas</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae accusamus sapiente voluptatibus modi velit incidunt esse nobis magni nisi,
        voluptate dicta fugiat deserunt cupiditate quod nemo. Eius culpa fugiat illo voluptatem autem asperiores adipisci et aperiam.
        Commodi fugiat sint quisquam voluptatem doloremque quos. Qui earum aliquid excepturi nobis. Deleniti sit dolorum consequatur nesciunt est,
        consectetur exercitationem minus! Similique omnis unde exercitationem laudantium nihil modi assumenda quisquam illo minima aut fugit corrupti deserunt optio aliquid,
        quis, fuga a porro facilis necessitatibus iste earum!
        Cum porro laborum quis reiciendis beatae fuga quasi, eligendi ab impedit sit veniam atque deserunt culpa perferendis tempora.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores ab ipsum quidem tempore porro facilis provident a enim quasi non? Nobis,
        id ipsum vel, accusamus ratione quia velit optio omnis fugit inventore eius voluptatibus ad expedita labore voluptatum magni consequatur enim!
        Quam, tempore expedita a accusamus corporis soluta itaque consectetur eius ipsum voluptatem ipsam voluptates dolor earum impedit saepe enim fugit porro temporibus voluptatibus
        autem cupiditate nobis alias placeat aut. Quasi ea, assumenda qui reprehenderit nobis exercitationem facere sint, autem ipsum accusantium est numquam voluptatem neque obcaecati 
        consequuntur magnam illum nulla minima esse? Necessitatibus pariatur repellendus eius laboriosam tempore sequi cum facere, 
        expedita aspernatur explicabo error, ut tenetur soluta maxime debitis fugiat similique, libero natus. Exercitationem aperiam earum porro corporis.
    </p>
</section>

<section class="landing__section" style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
<h1 class="landing__heading"> Dane kontaktowe </h1>
<div>
    <ul>
        <li>Numer telefonu - +48 123 456 789</li>
        <li>Adres e-mail - kontakt@biuro.pl</li>
    </ul>
    
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="https://www.openstreetmap.org/export/embed.html?bbox=19.954028427600864%2C50.05538226221587%2C19.958507716655735%2C50.05693213064551&amp;layer=mapnik&amp;marker=50.056157202688595%2C19.956268072128296"
        style="border: 1px solid black">
    </iframe>
</div>

</section>
